@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./hamburger.css");

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif !important;
}

/* Utilities */

.p-color {
  color: #961b4a !important;
}

.p-back-80 {
  background-color: rgba(150, 27, 74, 0.8);
}

.p-back {
  background-color: #961b4a !important;
}

.dark-back {
  background-color: #343741;
}

.bg-light {
  background-color: #f6f6f6;
}

.bg-light-grey {
  background-color: #d3d3d3;
}

.pink-border-b {
  border-bottom: 1px solid #961b4a;
}

.gray-border-b {
  border-bottom: 1px solid #d3d3d3;
}

.gray-border {
  border: 1px solid #d3d3d3 !important;
}

.text-xs {
  font-size: 0.8rem !important;
}

.text-135 {
  font-size: 1.35rem !important;
}

.text-gray {
  color: #bcbec0 !important;
}

.bg-grey {
  background-color: #bcbec0 !important;
}

.custom-grid {
  display: grid !important;
  grid-template-columns: 3fr 1fr 2fr !important;
}

.profile {
  width: 100% !important;
  padding-top: 100% !important;
}

.mb-2px {
  margin-bottom: -1px !important;
}

/* Custom ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #961b4a;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #961b4a;
}

/* Image Overlay */

.overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  background-color: rgba(150, 27, 74, 0.8);
}

.how-img:hover .overlay {
  opacity: 100% !important;
}

.overlay-clip p {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  transform: rotate(-35deg);
}

.index-links:hover .overlay-clip p {
  opacity: 1;
}

.mobile-overlay {
  background-color: rgba(150, 27, 74, 0.8);
}

.overlay-p {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  transform: translateY(-100%);
  z-index: 15 !important;
}

.how-img:hover .overlay-p {
  opacity: 1;
}

.overlay-clip {
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 600ms ease-in-out;
  background-color: rgba(150, 27, 74, 0.8);
  width: 40rem !important;
  height: 40rem !important;
  transform: skew(-45deg) scaleX(2) translateY(-20%) translateX(-10%);
  position: absolute;
  top: 0;
  left: 0;
  transition: clip-path 300ms;
}

.index-links:hover .overlay-clip {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

@media screen and (max-width: 768px) {
  .index-links img {
    height: 20rem;
  }
}

/* Installation Page Expanding Section */

.expand {
  overflow: hidden;
  opacity: 0;
  transition: transform 600ms, opacity 300ms, max-height 600ms;
  max-height: 0rem;
}

input:checked ~ .expand {
  max-height: 200rem;
  opacity: 1;
}

.plus-minus {
  color: #961b4a;
  border-top: 1px solid #961b4a;
  border-bottom: 1px solid #961b4a;
  transition: color 500ms, border-bottom 0ms;
}

input:checked ~ .plus-minus {
  color: #d3d3d3;
  border-top: 1px solid #961b4a;
  border-bottom: 1px solid transparent;
}

.input-border {
  border-bottom: 1px solid #d3d3d3;
}

.minus {
  display: none;
}

input:checked ~ .plus-minus .minus {
  display: block;
}

input:checked ~ .plus-minus .plus {
  display: none;
}

.minuso,
.pluso {
  background: #f2f2f2;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input.number {
  text-align: center;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
}

/* Nav Bar */

nav {
  background-color: rgba(0, 0, 0, 0.8);
}

/* NModalpop landing */

.modalpop-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  width: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 300ms linear, opacity 300ms linear;
  transition-delay: 200ms;
  pointer-events: none !important;
}

.modalpop-overlay-active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 300ms linear;
  pointer-events: auto !important;
}

/* Modalpop landing Animation */
.modalpop-overlay .nav-link-list {
  animation: fadeOut 500ms;
}

.modalpop-overlay-active .nav-link-list {
  opacity: 1;
  transform: translateY(0rem);
  animation: fadeUp 600ms;
}

/* Modalpop landing  Overlay Links */

#modalpop-link a::before {
  transform: translateY(-400%);
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #961b4a;
  transition: width 300ms ease-out;
}

#modalpop-link:hover a::before {
  width: 20px;
}

/* Modalpop landing  Animation */

.modalpop-overlay .nav-link-list {
  animation: fadeOut 500ms;
}

.modalpop-overlay-active .nav-link-list {
  opacity: 1;
  transform: translateY(0rem);
  animation: fadeUp 600ms;
}

/* Country Overlay */

.country-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  width: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 300ms linear, opacity 300ms linear;
  transition-delay: 200ms;
  pointer-events: none !important;
}

.country-overlay-active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 300ms linear;
  pointer-events: auto !important;
}

/* Country Overlay Links */

#country-link a::before {
  transform: translateY(-400%);
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #961b4a;
  transition: width 300ms ease-out;
}

#country-link:hover a::before {
  width: 20px;
}

/* Country Bar Animation */

.country-overlay .nav-link-list {
  animation: fadeOut 500ms;
}

.country-overlay-active .nav-link-list {
  opacity: 1;
  transform: translateY(0rem);
  animation: fadeUp 600ms;
}

/* Nav Overlay */

.nav-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  width: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 300ms linear, opacity 300ms linear;
  transition-delay: 200ms;
  pointer-events: none !important;
}

.nav-overlay-active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 300ms linear;
  pointer-events: auto !important;
}

/* Search Overlay */

.search-overlay {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 300ms linear, opacity 300ms linear;
  opacity: 0;
  width: 100%;
  pointer-events: none !important;
}

.search-overlay-active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  pointer-events: auto !important;
}

/* Nav Overlay Links */

#nav-link a::before {
  transform: translateY(-400%);
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #961b4a;
  transition: width 300ms ease-out;
}

#nav-link:hover a::before {
  width: 20px;
}

/* Line Styling */

.product .view-collection,
.fitting-button .fitting,
.how-to-button .how-to,
.read-more-button .read-more {
  color: #961b4a;
  position: relative;
  padding: 0 0.5rem !important;
  margin-left: 1.5rem;
}

.product .view-collection::before,
.fitting-button .fitting::before,
.how-to-button .how-to::before,
.read-more-button .read-more::before {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 0.07rem;
  background-color: #961b4a;
  transition: transform 500ms;
  opacity: 1;
}

.product:hover .view-collection::after,
.fitting-button:hover .fitting::after,
.how-to-button:hover .how-to::after,
.read-more-button:hover .read-more::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.product:hover .view-collection::before,
.fitting-button:hover .fitting::before,
.how-to-button:hover .how-to::before,
.read-more-button:hover .read-more::before {
  transform: translateX(3rem);
}

/* View Collection */

.product .view-collection::after {
  content: "View Collection";
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 0;
  padding: 0 0.5rem;
  background-color: #961b4a;
  color: #fff;
  transition: clip-path 500ms;
}

/* Fitting Instruction & How to buttons */

.fitting-button .fitting::after {
  content: "Fitting Instruction";
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 0;
  padding: 0 0.5rem;
  background-color: #961b4a;
  color: #fff;
  transition: clip-path 500ms;
}

.how-to-button .how-to::after {
  content: "How to";
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 0;
  padding: 0 0.5rem !important;
  background-color: #961b4a;
  color: #fff;
  transition: clip-path 500ms;
}

/* Read More Button - About Page */

.read-more-button .read-more::after {
  content: "Read More";
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 0;
  padding: 0 0.5rem;
  background-color: #961b4a;
  color: #fff;
  transition: clip-path 500ms;
}

/* Index Page */

.triangle {
  clip-path: polygon(0 0, 0% 80%, 35% 0);
  opacity: 80%;
}

/* Product Range Styling */

.product:hover .product-range {
  transform: scale(1.2);
  transition: transform 600ms;
}

.product .product-range {
  transition: transform 600ms;
}

.filter input:hover ~ .filter-text {
  color: grey;
}

.filter-box {
  max-height: 0;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  transition: max-height 0.6s !important;
}

.filter-box ul li:hover {
  cursor: pointer;
  color: #bcbec0;
}

.filter input:checked ~ .filter-box {
  max-height: 100rem;
  transition: max-height 0.6s;
  pointer-events: auto;
}

/* Nav Bar Animation */

.nav-overlay .nav-link-list {
  animation: fadeOut 500ms;
}

.nav-overlay-active .nav-link-list {
  opacity: 1;
  transform: translateY(0rem);
  animation: fadeUp 600ms;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  10% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 2;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

.enquire:hover {
  color: #fff !important;
  background-color: #961b4a !important;
}

.index-logo {
  position: absolute !important;
  z-index: 20 !important;
}

@media (max-width: 640px) {
  .triangle {
    clip-path: polygon(0 0, 0% 10%, 20% 0);
  }
}

.nav-icon {
  cursor: pointer !important;
}

.country-icon {
  cursor: pointer !important;
}
/* Finish Page */

// .finish-banner {
//   background-image: url("../images/Finish/Finishes_img.png");
//   background-size: cover;
//   background-position: center center;
// }

.finish-line {
  position: absolute;
  top: 90vh;
  left: 50%;
  width: 1px;
  height: 8rem;
  background-color: #e2e8f0;
  margin: 0 auto;
  animation: line 6s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes line {
  0% {
    transform: rotateX(0deg);
    height: 0;
  }

  15% {
    transform: rotateX(0deg);
    height: 8rem;
  }

  65% {
    transform: rotateX(90deg);
    height: 8rem;
  }

  100% {
    transform: rotateX(90deg);
  }
}

.finish-back {
  background-color: #121212;
}

.finish-heading {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
}

main .logo {
  position: absolute;
}

/* Image Box - Product Page */
.hovered-img {
  opacity: 0;
}

.product:hover .hovered-img {
  opacity: 1;
}

/* Request Form */

#request-form label {
  color: #121212;
  transform: translateY(-1.8rem) scale(1);
  pointer-events: none;
  transform-origin: left;
  transition: transform 300ms, color 200ms;
}

.input-border:focus + label {
  color: #585858 !important;
  transform: translateY(-3rem) scale(0.9) !important;
}

.input-border:not(:placeholder-shown).input-border:not(:focus) + label {
  color: #585858 !important;
  transform: translateY(-3rem) scale(0.9) !important;
}

.input-border:invalid:not(:placeholder-shown).input-border:not(:focus) + label {
  color: #585858 !important;
  transform: translateY(-3rem) scale(0.9) !important;
}

.input-border:invalid:not(:placeholder-shown) + label {
  transition: transform 300ms, color 200ms;
}

/* Contact */
.contact-info i {
  color: #961b4a;
  margin: 0 0.2rem 0 0;
}

.tab-active {
  color: #961b4a !important;
}

.tab-line {
  height: 2px;
  background-color: #961b4a;
  margin-left: 0;
  transition: margin-left 300ms;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

/* Swatches */

.pdf-button .pdf {
  color: #f7de95;
  position: relative;
  padding: 0 0.5rem !important;
  margin-left: 1.5rem;
}

.pdf-button .pdf::before {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 0.05rem;
  background-color: #f7de95;
  transition: transform 500ms;
}

.pdf-button:hover .pdf::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.pdf-button:hover .pdf::before,
.catalogue-item:hover .view::before,
.fitting-button:hover .fitting::before,
.how-to-button:hover .how-to::before,
.read-more-button:hover .read-more::before {
  transform: translateX(3rem) translateY(0.05rem);
}

.pdf-button .pdf::after {
  content: "Download Pdf";
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 0;
  padding: 0 0.5rem;
  background-color: #f7de95;
  color: rgb(0, 0, 0);
  transition: clip-path 500ms;
}

.swatch-name {
  opacity: 0;
  transition: opacity 200ms;
}

.swatch-box:hover .swatch-name {
  opacity: 1;
}

/* Back to Top */
#button {
  transition: opacity 0.6s, visibility 0.6s;
  opacity: 0;
  visibility: hidden;
}

#button.appear {
  opacity: 1;
  visibility: visible;
}

#button-2 {
  display: inline-block;
  transition: opacity 0.3s, visibility 0.6s;
  opacity: 0;
  visibility: hidden;
}

#button-2.appear {
  opacity: 1;
  visibility: visible;
}

#modalOpen {
  opacity: 0;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(150, 27, 74, 0.8);
  z-index: 10;
  transition: opacity 300ms;
}

.carousel-inner:hover #modalOpen {
  opacity: 1;
}

.carousel-inner:hover #main-caption {
  opacity: 0;
}

.line-66 {
  line-height: 66px !important;
}

footer {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

figure.snip1206 {
  color: #fff;
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-width: 200%;
  max-height: 100%;
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1206 * {
  box-sizing: border-box;
  transition: all 0.8s ease;
}
figure.snip1206 img {
  opacity: 1;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  transition: opacity 0.8s;
}
figure.snip1206:after {
  background: rgba(150, 27, 74, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  transform: skew(-35deg) scaleX(0);
  transition: all 0.8s ease-in-out;
}
figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}
figure.snip1206 p {
  opacity: 0;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
  transform: skew(-35deg) scaleX(2);
  transition: all 800ms;
}

figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  transform: translate3d(0%, 0%, 0);
  transition-delay: 0.2s;
}

figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  opacity: 1;
}

figure.snip1206 h2,
figure.snip1206i h2 {
  background: rgba(150, 27, 74, 0.8);
}

.product .image-box img {
  transition: all 300ms;
  background-color: #f6f6f6 !important;
}

/* Index Animation */

@media screen and (min-width: 768px) {
  figure.snip1206i {
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    max-width: 200%;
    max-height: 100%;
    width: 100%;
    color: #000000;
    text-align: center;
  }
  figure.snip1206i * {
    box-sizing: border-box;
    transition: all 0.8s ease;
  }
  figure.snip1206i img {
    opacity: 1;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transition: opacity 0.8s;
  }
  figure.snip1206i:after {
    background: rgba(150, 27, 74, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    transform: skew(-35deg) scaleX(0);
    transition: all 0.8s ease-in-out;
  }
  figure.snip1206i figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
  }
  figure.snip1206i p {
    opacity: 0;
  }
  figure.snip1206i:hover:after,
  figure.snip1206i.hover:after {
    transform: skew(-35deg) scaleX(2);
    transition: all 800ms;
  }

  figure.snip1206i:hover figcaption p,
  figure.snip1206i.hover figcaption p {
    transform: translate3d(0%, 0%, 0);
    transition-delay: 0.2s;
  }

  figure.snip1206i:hover figcaption p,
  figure.snip1206i.hover figcaption p {
    opacity: 1;
  }
}

/* view & request */

/* Nav Overlay Links */

#catalogue-buttons a::before {
  transform: translateY(-400%);
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #961b4a;
  transition: width 300ms ease-out;
}

#catalogue-buttons:hover a::before {
  margin-right: 4px;
  width: 20px;
}

.finishes-heading span {
  display: block;
  animation: fadeAway 5s forwards;
}

@keyframes fadeAway {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

/* About Page Profile */

.profile input {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.profile input:checked {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.2rem !important;
  height: 2.2rem !important;
}

.profile input:checked ~ .profile-img {
  display: none !important;
}

.time-stamp {
  opacity: 0 !important;
  transition: opacity 800ms;
}

.video-thumb:hover .time-stamp {
  opacity: 1 !important;
}

.check {
  opacity: 0;
  object-fit: cover;
  transition: opacity 300ms;
  padding: 0.12rem;
}

.map-check:checked ~ .check {
  opacity: 1 !important;
}

//Sub Heading

.sub-arrow {
  transform: rotate(-90deg);
  transition: transform 100ms;
}

.sub-input:checked ~ .sub-arrow {
  transform: rotate(0);
  transition: transform 100ms;
}

.sub-content {
  padding: 1rem 0;
}

.sub-heading .sub-content {
  padding: 0;
  max-height: 0;
  transform: translateY(-0.5rem);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms, transform 600ms, max-height 600ms;
}

.sub-input:checked ~ .sub-content {
  padding: 1rem 0 0;
  max-height: 100rem !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  pointer-events: initial !important;
}

//our story Full image
.ourStoryFullWidthImage {

  @media (min-width: 1024px) {
        height: 75vh;
   }

/* Extra Large (xl) */
@media (min-width: 1280px) {
    height: 75vh;
 }
}
